@font-face {
  font-family: "iconfont"; /* Project id 4527380 */
  src: url('iconfont.woff2?t=1715823457705') format('woff2'),
       url('iconfont.woff?t=1715823457705') format('woff'),
       url('iconfont.ttf?t=1715823457705') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dropdown:before {
  content: "\e63a";
}

.icon-text:before {
  content: "\e680";
}

.icon-number:before {
  content: "\e639";
}

.icon-formulate:before {
  content: "\e6f7";
}

.icon-settings:before {
  content: "\e943";
}

.icon-save:before {
  content: "\e6ed";
}

